@import '../../../cssUtils.scss';

.sections{
    padding: 3em 1em;
    background-image: url("../images/Bg1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    img{
        display: block;
        height: 25em;
        width: 25em;
        margin: 0 auto;
        border: {
            bottom-left-radius: 5% 5%;
            top-left-radius: 5% 5%;
            bottom-right-radius: 5% 5%;
            top-right-radius: 5% 5%;
        }
    }
    .header{
        color: $accent2;
        font-size: 4em;
    }
    .text{
        color: $accent9;
        font-size: 2.5em;
    }
    &-1{
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-left{
            flex: 1;
            order: 1;
        }
        &-right{
            flex: 1;
            &-header{
                padding-right: .5em;
            }
        }
    }
}