@import '../cssUtils.scss';

#navigation{
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    .view{
        display: flex;
        justify-content: space-between;
        background-color: $accent1;
        height: 4em;
        .header{
            display: flex;
            align-items: center;
            &-line{
                display: block;
                background-color: $accent3;
                margin: auto 2px;
                height: 2px;
                width: 2em;
            }
            &-txt{
                color: $accent4;
                font-size: 2em;
            }
        }
        .navigator{
            display: flex;
            align-items: center;
            margin-right: 1em;
        }
    } 
}
